.bootstrap{
    height: 100vh;
}

main, header{
    width: 100vw;
}

.sidebar{
    height: calc(100vh - 58px);  
    background-color: rgba(18,40,63,255);
}

.img-tabella{
    width: 30px;
}

.bg_st-online{ 
    background-color:rgba(26,115,232,255);

}





 






